
import(methods)

importFrom(BiocGenerics, annotation, "annotation<-", strand, "strand<-")

importClassesFrom( intervals, Intervals_virtual, Intervals_virtual_or_numeric, Intervals_full) 

importMethodsFrom( intervals, 
					 "[",
              "close_intervals",
              "closed", "closed<-",
              "coerce",
              "empty",
              "head",
              "initialize",
              "close_intervals",
              "open_intervals",
          	  "interval_union",
              "interval_complement",
              "interval_intersection",
              "interval_overlap",
              "distance_to_nearest",
              "which_nearest",    
              "size",
              "tail",
              "type", "type<-")            

S3method( c, Genome_intervals )
S3method( c, Genome_intervals_stranded )

exportClasses(
              "Genome_intervals",
              "Genome_intervals_stranded"
              )

exportMethods(
              "annotation", "annotation<-",
              "seq_name", "seq_name<-",
              "strand", "strand<-",
              "inter_base", "inter_base<-",
              "type<-",
              "[",
              "[[",
              "$",
              "coerce",
              "size", 
              "show",
              "sort",
              "core_annotated",
              "interval_union",
              "interval_complement",
              "interval_intersection",
              "interval_overlap",
              "distance_to_nearest",
              "which_nearest"
              )
export(
		"readGff3",
		"parseGffAttributes",
		"getGffAttribute",
                "GenomeIntervals",
       "writeGff3"
	)
